# Configurações do Discord

TOKEN = 
CLIENT_ID = 
GUILD_ID = 

# Configurações da API do Twitter ( Manutenção )

CONSUMER_KEY =
CONSUMER_SECRET = 
ACCESS_TOKEN = 
ACCESS_TOKEN_SECRET = 
BEARER_TOKEN = 

#OpenIA 

OPANIA = 